# Ignore node_modules directories
**/node_modules

# Ignore environment variable files
**/.env

# Ignore build directories
**/build
**/dist

# Ignore log files
**/logs
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore coverage reports
**/coverage

# Ignore temporary files
*.tmp
*.swp

# Ignore IDE/editor specific files
.vscode/
.idea/

# Ignore other unwanted files
npm-debug.log
yarn-error.log
